<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <div class="container">
    <div class="title">
      <h1>Welcome to {{ title }}!</h1>
    </div>
    <div class="form-group">
      <label>title {{newTitle}}</label>
      <input type="text" [(ngModel)]="newTitle" class="form-control" placeholder="Input title" (keydown.enter)="onAdd($event.target.value)"  >
    </div>
    <ul class="list-group">
      <ng-container *ngIf="list">
        <app-todo-item *ngFor="let item of finalList" (delete)="onDelete(item.id)" (toggle)="onToggle(item.id)" [title]="item.title" [completed]="item.completed" [id]="item.id"></app-todo-item>
      </ng-container>
    </ul>
    <app-todo-footer *ngIf="list && list.length>0" [list]="list" [type]="filterType" (change)="onTypeChange($event)"></app-todo-footer>
  </div>
</div>

<router-outlet></router-outlet>
