@import '~bootstrap/scss/mixins';
.list-group-item {
  position: relative;
  .form-check {
    padding-left: 0;
    .title {
      &.completed {
        text-decoration: line-through;
      }
    }
  }
  &:hover .actions {
    display: block;
  }
  .actions {
    display: none;
    position: absolute;
    right: 10px;
    margin-top: (-2.375em/2);
    top: 50%;
    .btn {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
