<li class="list-group-item">
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" [checked]="completed" (change)="onToggle()">
      <span class="form-check-sign"></span>
      <span class="title" [class.completed]="completed">{{title}}</span>
    </label>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" (click)="onDelete()">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
  </div>
</li>
